@tailwind base;
@tailwind components;
@tailwind utilities;

.forecast-today {
  margin: 1rem;
}

.forecast-today > p {
  color: white;
}

.forecast-today > span {
  color: white;
}

.forecast-today > div > p {
  color: white;
}

.forecast-today > div > span {
  color: white;
}

.forecast {
  margin: 1rem;
}

.forecast > p {
  color: white;
}

.forecast > div > p {
  color: white;
}

.forecastlist {
  width: 100%;
}

.forecastlist > div {
  cursor: pointer;
}
